<div class="container-fluid col-12">
    <h2 class="mt-4 mb-4 d-flex justify-content-center">COMPRA</h2>
    <div class="row mt-4 mb-4 d-flex justify-content-center">
        <div class="col-2">
            <h4 class="d-inline" style="color: #000000;">Fecha: </h4>
            <h4 class="d-inline position-relative" style="left: .5%; color: #000000; font-weight: bold;" id="fechaActual">{{fechaActual | date :'dd-MM-yyyy  hh:mm:ss'}}</h4>
        </div>
        <div class="col-2">
            <h4 class="d-inline" style="color: #000000;">Kilogramos Total: </h4>
            <h4 class="d-inline position-relative" style="left: .5%; color: #000000; font-weight: bold;" id="total_kilogramos">{{cantidadKilogramosProductos() | number : '000.000'}}</h4>
        </div>       
        <div class="col-2">
            <h4 class="d-inline" style="color: #000000;">Neto Total: </h4>
            <h4 class="d-inline position-relative" style="left: .5%; color: #000000; font-weight: bold;" id="total_neto">${{sumaNetos() | number : '000.000'}}</h4>
        </div>
        <div class="col-2">
            <h4 class="d-inline" style="color: #000000;">Iva Total: </h4>
            <h4 class="d-inline position-relative" style="left: .5%; color: #000000; font-weight: bold;" id="tota_iva">{{sumaTotalIva() | number : '000.000'}}</h4>  
        </div>
        <div class="col-2">
            <h4 class="d-inline" style="color: #000000;">Total: </h4>
            <h4 class="d-inline position-relative" style="left: .5%; color: #000000; font-weight: bold;" id="total_compras">{{sumaValorTotal() | number : '000.000'}}</h4>  
        </div>
    </div>
</div>



<div class="container-fluid col-12 mt-5">
    <div class="row">
        <div class="col-2">
            <div>
                <span class=""><b>BUSQUEDA POR COMPRA</b></span>
            </div>
            <div>
                <input type="text" size="25" name="idcompra" style="border: 1px solid #000000;" [(ngModel)] = idcompra (ngModelChange) = "Search();" >
            </div>
        </div>
        <div class="col-2">
            <div class="" style="font-size:smaller">
                <span class=""><b>CLIENTE</b></span>
            </div>
            <div class="">
                <input type="text" size="25" name="selectedNombre" style="border: 1px solid #000000;" [(ngModel)] = selectedNombre (ngModelChange) = "SearchByClient();">
            </div>
        </div>
        <div class="col-2">
            <div style="font-size:smaller">
                <span class=""><b>RANGO DE FECHAS</b></span>
            </div>
            <div  id="holi">
                <input type="text" style="border: 1px solid #000000; height: 25px;" name="daterange" autocomplete="off" bsDaterangepicker 
                [bsConfig]="{ rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false }"                 
                id="DateOfBirth" placeholder="Rango de Fechas" (bsValueChange)="dateRangeCreated($event)" class="form-control" />
            </div> 
        </div>
        <div class="col-4">
            <div style="    display: inline-block;
            margin: 20px;
            padding: 10px;
            border: 1px solid #000000;
            font-size:20px">
            <button [routerLink] ="['/ingreso-compra']" type="button" class="btn btn-outline-primary ml-4 material-icons">
                add_circle_outline
            </button>
            <h4 class="d-inline pl-2"><b>Nueva Compra</b> </h4>
            <button [routerLink] = "['/busqueda-compras']" class="btn btn-success position-relative ml-2" (click)="reportePDF()">GENERAR REPORTE</button>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid col-12">
    <div class="row">
        <div class="col-12 mt-2">
            <table class="table table-striped table-sm" id="entrada">
                <thead class="thead-dark">
                  <tr>                    
                    <th scope="col">Compra</th>
                    <th scope="col">Cliente</th>                                        
                    <th scope="col">Fecha Compra</th>
                    <th scope="col">Cantidad</th>                                        
                    <th scope="col">Neto</th>                                        
                    <th scope="col">Iva</th>                                        
                    <th scope="col">Valor Iva</th>                                        
                    <th scope="col">Valor Total</th>                                        



                    <th scope="col" >Opciones</th>                   
                    
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor ='let row of compras'>                    
                    <td class="pl-4">{{row.idcompra}}</td>
                    <td>{{row.nombre}}</td>                                                   
                    <td class="pl-4">{{row.compra_inicio | date: 'dd-MM-yyyy / HH:mm:ss '}}</td>
                    <td>{{row.cantidad | number:'1.0-0'}}</td>                                                   
                    <td>${{row.neto | number:'1.0-0'}}</td>                                                   
                    <td>
                        <span *ngIf="row.iva != 0 ; else elseBlock2">{{row.iva | number:'1.0-0'}}</span>
                        <ng-template #elseBlock2>NO APLICA</ng-template>
                    </td>                                                   
                    <td>
                        <span *ngIf="row.valor_iva != 0; else elseBlock3">${{row.valor_iva | number:'1.0-0'}}</span>
                        <ng-template #elseBlock3>NO APLICA</ng-template>
                    </td>     
                    <td>${{row.valor_total | number:'1.0-0'}}</td>                                                   


                                                        
                    <td>                        
                        <a  class="btn btn-primary ml-2" [routerLink] ="['./ver-compra',row.idcompra]">DETALLE</a>
                        <button class="btn btn-danger ml-2 material-icons" (click)=BorrarCompraPapelera(row.idcompra)>
                            delete 
                    </button></td>                    
                                      
                  </tr>                  
                </tbody>
              </table>
              <input type="text" value="0" id="borrado" style="display: none;">             
        </div>
    </div>



    <div>  
        <div class="ml-5">
            <h5 class="d-inline position-relative" style="left: .5%; visibility: hidden;" id="startDateText">{{startDateText| date :'dd-MM-yyyy'}}</h5>
        </div>
        <div class="ml-5">
            <h5 class="d-inline position-relative"  style="left: .5%; visibility: hidden;" id="endDateText">{{endDateText| date :'dd-MM-yyyy'}}</h5>
        </div>
    </div>

    <div class="invisible">
        <table class="table table-striped table-sm" id="entrada2">
            <thead class="thead-dark">
                <tr>                    
                    <th scope="col">Compra</th>
                    <th scope="col">Cliente</th>                                        
                    <th scope="col">Fecha Compra</th>
                    <th scope="col">Cantidad</th>                                        
                    <th scope="col">Neto</th>                                        
                    <th scope="col">Iva</th>                                        
                    <th scope="col">Valor Iva</th>                                        
                    <th scope="col">Valor Total</th>                                        
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ='let row of compras'>                    
                    <td>{{row.idcompra}}</td>
                    <td>{{row.nombre}}</td>                                                   
                    <td>{{row.compra_inicio | date: 'dd-MM-yyyy / HH:mm:ss '}}</td>
                    <td>{{row.cantidad | number:'1.0-0'}}</td>                                                   
                    <td>${{row.neto | number:'1.0-0'}}</td>                                                   
                    <td>
                        <span *ngIf="row.iva != 0 ; else elseBlock2">{{row.iva}}</span>
                        <ng-template #elseBlock2>NO APLICA</ng-template>
                    </td>                                                   
                    <td>
                        <span *ngIf="row.valor_iva != 0; else elseBlock3">${{row.valor_iva | number:'1.0-0'}}</span>
                        <ng-template #elseBlock3>NO APLICA</ng-template>
                    </td>     
                    <td>${{row.valor_total | number:'1.0-0'}}</td>                                                                
                </tr>                  
            </tbody>
        </table>
    </div>

</div>

