<div class="container-fluid col-12">
  <h2 class="mt-4 mb-4 d-flex justify-content-center">COMPRAS DE PALTA CHILENA</h2>
  <div class="row mt-4 mb-4 d-flex justify-content-center">
      <div class="col-2">
          <h4 class="d-inline" style="color: #000000;">Fecha: </h4>
          <h4 class="d-inline position-relative" style="left: .5%; color: #000000; font-weight: bold;" id="fechaActual">{{fechaActual | date :'dd-MM-yyyy  hh:mm:ss'}}</h4>
      </div>
      <div class="col-2">
          <h4 class="d-inline" style="color: #000000;">Kilogramos Total: </h4>
          <h4 class="d-inline position-relative" style="left: .5%; color: #000000; font-weight: bold;" id="total_kilogramos">{{kilogramosTotalSum() | number:'1.0-0'}}</h4>
      </div>       
      <div class="col-2">
          <h4 class="d-inline" style="color: #000000;">Precio Neto: </h4>
          <h4 class="d-inline position-relative" style="left: .5%; color: #000000; font-weight: bold;" id="total_precio" >${{PrecioTotalSum() | number:'1.0-0'}}</h4>
      </div>
      <div class="col-2">
        <h4 class="d-inline" style="color: #000000;">Iva Total: </h4>
        <h4 class="d-inline position-relative" style="left: .5%; color: #000000; font-weight: bold;" id="total_iva" >${{sumaTotalPrecio2 | number:'1.0-0'}}</h4>
    </div>
      <div class="col-2">
        <h4 class="d-inline" style="color: #000000;">Precio Total: </h4>
        <h4 class="d-inline position-relative" style="left: .5%; color: #000000; font-weight: bold;" id="total_precio_iva" >${{sumaTotalPrecio | number:'1.0-0'}}</h4>
    </div>
  </div>
</div>


<div class="container-fluid col-12">
    <div class="row">
      <div class="col-2" style="font-size:smaller"> 
        <div class="" style="font-size:smaller">
            <span class=""><b>BUSCAR LOTE</b></span>
        </div>
        <div class="" style="font-size:smaller">
            <input   type="text" size="35" name="numero_proceso" style="border: 1px solid #000000;"[(ngModel)] = id_cpc (ngModelChange) = "Search();" >
        </div>
        <div class="" style="font-size:smaller">
            <span class=""><b>BUSCAR PROVEEDOR</b></span>
        </div>
        <div class="">
            <input type="text" size="30" name="nombre" style="border: 1px solid #000000;" [(ngModel)] = nombre (ngModelChange) = "SearchByClient();">
        </div>
    </div>

    <div class="col-2" style="font-size:smaller">
      <div style="font-size:smaller">
          <span class=""><b>RANGO DE FECHAS GESTIÓN</b></span>
      </div>
      <div  id="holi">
          <input type="text" style="border: 1px solid #000000; height: 24px;" name="daterange" autocomplete="off" bsDaterangepicker 
          [bsConfig]="{ rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false }"                 
          id="DateOfBirth" placeholder="Rango de Fechas" (bsValueChange)="dateRangeCreated($event)" class="form-control" />
      </div>
    </div>


  <div class="col-5">
    <div style="    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 1px solid #000000;
    font-size:20px">
      <button [routerLink] ="['/cpc/ingreso-principal']" type="button" class="btn btn-primary ml-4 material-icons">
        add_circle_outline
        </button>
          <h4 class="d-inline pl-2"><b>Nueva Compra</b> </h4>
        <button [routerLink] = "['/cpc/busqueda']" class="btn btn-success position-relative ml-2" (click)="reporteGeneralPDF()">GENERAR REPORTE</button>
    </div>
  </div>
</div>


    <div class="row mt-2">
        <div class="col-12">
            <table class="table table-striped table-sm">
                <thead class="thead-dark">
                  <tr>                    
                    <th scope="col">Lote</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Kilogramos</th>
                    <th scope="col">Iva</th>
                    <th scope="col">Precio Iva</th>                                        
                    <th scope="col">Precio Neto</th>
                    <th scope="col">Precio Total</th>
                    <th scope="col" >Opciones</th>   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor ='let row of getAllBuys'>    
                    <td><b>{{row.id_cpc}}</b></td>
                    <td><b>{{row.nombre}}</b></td>
                    <td>{{row.fecha_ingreso | date: 'dd-MM-yyyy / HH:mm:ss'}}</td>
                    <td>{{row.total_cantidad | number}}</td>                                                
                    <td>{{row.impuesto}}%</td>
                    <td><b style="font-size:medium;">{{ ( (row.total_valor)* (row.impuesto/100) ) | number:'1.0-0'}}</b></td>
                    <td><b style="font-size:medium;">${{row.total_valor | number}}</b></td>
                    <td><b style="font-size:medium;">${{ (row.total_valor) + ( (row.total_valor)* (row.impuesto/100) ) | number:'1.0-0'}}</b></td>                                       
                    <td>  
                        
                        
                      <div class="modal fade "id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                        <div class="modal-dialog modal-xl"   role="document">
                          <div class="modal-content" >
                            <div class="modal-header" >
                              <h2 class="modal-title">Lote N°</h2> <h2 class="modal-title" id="selectIdCpc">{{selectIdCpc}}</h2>
                            </div>
                            <div class="modal-body modal-xl">
                                <table class="table" id="entrada">
                                    <thead class="thead-dark">
                                      <b>Nombre del Proveedor: </b><b id="selectNombre">{{selectNombre}}</b>   
                                      <br>
                                      <b>Fecha de Creación: </b><b id="selectedFechaIngreso">{{selectedFechaIngreso | date: 'dd-MM-yyyy / HH:mm:ss'}}</b>
                                      <br>
                                      <b>Impuesto: </b><b id="selectedImpuesto">{{selectedImpuesto}}%</b> 
                                      <br>
                                      <b>Cantidad: </b><b id="selectedTotalCantidad">{{selectedTotalCantidad | number}}</b>
                                      <br>
                                      <b>Precio Neto: </b><b id="selectTotalValor">${{selectTotalValor | number}}</b>
                                      <br>
                                      <b>Precio Total: </b><b id="selectTotalValor2">${{selectTotalValor * ((selectedImpuesto/100)+1) | number:'1.0-0'}}</b>
                                      <br>
                                    </thead>
                                    <tbody>
                                    <br>
                                    <hr>
                                        <div class="row">
                                            <div class="col-6">
                                                <h2 class="d-flex justify-content-center">ENTRADA</h2>
                                                <table class="table table-striped table-sm" id="datos_entrada">
                                                    <thead class="thead-dark">
                                                        <tr>                                      
                                                            <th scope="col">Calibre</th>
                                                            <th scope="col">Formato</th>
                                                            <th scope="col">Valor kg</th>
                                                            <th scope="col">Cantidad</th> 
                                                            <th scope="col">Precio Neto</th>
                                                            <th scope="col">Precio Total</th>   
   
                                                        </tr>
                                                    </thead> 
                                                    <tbody>
                                                        <tr *ngFor = 'let datosentrada of getDatosCompraEntrada'>
                                                            <td>{{datosentrada.calibre}}</td>
                                                            <td>{{datosentrada.formato}}</td>
                                                            <td>${{datosentrada.precio | number:'1.0-0'}}</td>
                                                            <td>{{datosentrada.cantidad | number:'1.0-0'}}</td>
                                                            <td>${{datosentrada.valor_total | number:'1.0-0'}}</td>
                                                            <td>${{datosentrada.valor_total * ((selectedImpuesto/100)+1) | number:'1.0-0'}}</td>

                                                        </tr>                
                                                        <tr class="table-info">
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td><b>{{kilogramosEntradaSum() | number:'1.0-0'}}</b></td>
                                                            <td><b>{{ValorTotalSum() | number:'1.0-0'}}</b></td>
                                                            <td><b>${{selectTotalValor * ((selectedImpuesto/100)+1) | number:'1.0-0'}}</b></td>
                                                        </tr>
                                                    </tbody>                       
                                                </table> 
                                            </div>
                                            <div class="col-6">
                                                <h2 class="d-flex justify-content-center" >SALIDA</h2>
                                                <table class="table table-striped table-sm" id="datos_salida">
                                                    <thead class="thead-dark">
                                                        <tr>                                      
                                                            <th scope="col">Calibre</th> 
                                                            <th scope="col">Cantidad</th>
                                                            <th scope="col">Bins</th>
                                                            <th scope="col">%</th>

                                                        </tr>
                                                    </thead> 
                                                    <tbody>
                                                        <tr *ngFor = 'let datossalida of getDatosCompraSalida'>
                                                            <td>{{datossalida.calibre}}</td>
                                                            <td>{{datossalida.cantidad | number:'1.0-0'}}</td>
                                                            <td>{{datossalida.bins | number:'1.0-0'}}</td>
                                                            <td>{{(datossalida.cantidad * 100)/kilogramosEntradaSum() | number:'1.0-1'}}%</td>
                                                        </tr>
                                                        <tr>
                                                          <td>MERMA</td>
                                                          <td>{{kilogramosEntradaSum()-kilogramosSalidaSum() | number:'1.0-0'}}</td>
                                                          <td></td>
                                                          <td>{{((kilogramosEntradaSum()-kilogramosSalidaSum()) * 100)/kilogramosEntradaSum() | number:'1.0-1'}}%</td>
                                                        </tr>                
                                                        <tr class="table-info">
                                                            <td></td>
                                                            <td><b>{{kilogramosSalidaSum() | number:'1.0-0'}}</b></td>
                                                            <td><b>{{BinsSalidaSum() | number:'1.0-0'}}</b></td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>                       
                                                </table> 
                                            </div>
                                        </div>
                                        <br>
                                        <hr>
                                        
                                        <h2 class="d-flex justify-content-center">OPCIONES</h2>
                                        <hr>
                                        <br>


                                        <div class="d-flex justify-content-center">
                                          <br>
                                          <br>
                                          <a [routerLink] ="['/cpc/ingreso-final/', selectIdCpc]" class="btn btn-warning" style="height: 120px; width: 120px; color: white;" data-dismiss="modal">
                                            <br>
                                            <br>
                                            MODIFICAR
                                          </a>
                                          
                                          <a (click)="reporteIndividualPreliminarPDF()" [routerLink] ="['/cpc/busqueda']" class="btn btn-primary ml-2" style="height: 120px; width: 120px;" data-dismiss="modal">
                                            <br>
                                            <br>
                                            DOCUMENTO PRELIMINAR
                                          </a>
                                          <!--  -->
                                          <a (click)="reporteIndividualPDF()" [routerLink] ="['/cpc/busqueda']" class="btn btn-success ml-2" style="height: 120px; width: 120px;" data-dismiss="modal">
                                            <br><br> DOCUMENTO FINAL
                                          </a>
                                          <!--  -->
                                          <a (click)="updateStatusBuyDelete(selectIdCpc)" class="btn btn-danger ml-2 material-icons" style="height: 120px; width: 120px;">
                                            <br>
                                            <br>
                                            delete 
                                          </a> 
                                        </div>
   


                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer modal-lg" >
                              <button type="button" class="btn btn-primary" data-dismiss="modal">CERRAR</button>
                            </div>
                          </div>
                        </div>
                      </div>





                      <button (click)="menuOpciones(                    
                        row.id_cpc, 
                        row.nombre, 
                        row.fecha_ingreso, 
                        row.impuesto, 
                        row.total_cantidad, 
                        row.total_valor)" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                          OPCIONES
                      </button>



                  </td>  
                  </tr>                  
                </tbody>
              </table>
        </div>
    </div>









      <div class="invisible">
          <table class="table table-striped table-sm" id="tabla_principal">
              <thead class="thead-dark">
                <tr>                    
                  <th scope="col">Lote</th>
                  <th scope="col">Proveedor</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Kilogramos</th>
                  <th scope="col">Iva</th>
                  <th scope="col">Precio Iva</th>                                        
                  <th scope="col">Precio Neto</th>
                  <th scope="col">Precio Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor ='let row of getAllBuys'>    
                  <td><b>{{row.id_cpc}}</b></td>
                  <td><b>{{row.nombre}}</b></td>
                  <td>{{row.fecha_ingreso | date: 'dd-MM-yyyy / HH:mm:ss'}}</td>
                  <td>{{row.total_cantidad | number}}</td>                                                
                  <td>{{row.impuesto}}%</td>
                  <td><b style="font-size:medium;">{{ ( (row.total_valor)* (row.impuesto/100) ) | number:'1.0-0'}}</b></td>
                  <td><b style="font-size:medium;">${{row.total_valor | number}}</b></td>
                  <td><b style="font-size:medium;">${{ (row.total_valor) + ( (row.total_valor)* (row.impuesto/100) ) | number:'1.0-0'}}</b></td>                   
                </tr>
                <tr class="table-info">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td><b>{{kilogramosEntradaSum() | number:'1.0-0'}}</b></td>
                  <td></td>
                  <td><b>${{sumaTotalPrecio2 | number:'1.0-0'}}</b></td>
                  <td><b>{{ValorTotalSum() | number:'1.0-0'}}</b></td>
                  <td><b>{{sumaTotalPrecio | number:'1.0-0'}}</b></td>

              </tr>               
              </tbody>
            </table>
      </div>






  </div>



  <div>  
    <div class="ml-5">
        <h5 class="d-inline position-relative" style="left: .5%; visibility: hidden;" id="startDateText">{{startDateText| date :'dd-MM-yyyy'}}</h5>
    </div>
    <div class="ml-5">
        <h5 class="d-inline position-relative"  style="left: .5%; visibility: hidden;" id="endDateText">{{endDateText| date :'dd-MM-yyyy'}}</h5>
    </div>
    <div class="ml-5">
        <h5 class="d-inline position-relative"  style="left: .5%; visibility: hidden;" id="nombre">{{nombre}}</h5>
    </div>
</div>