<!--INGRESO CUERPO-->
<div class="container-fluid col-12">
    <div class="row justify-content-center">
        <h1>INGRESE DATOS DEL CLIENTE</h1>
    </div>       
            <div class="row">
            <div class="col-12 d-flex justify-content-center">
            <span class=" d-block ml-2">NOMBRE CLIENTE</span>            
            <input class="ml-2" type="text" [(ngModel)]="cliente.nombre" >
            </div>
            </div>
            <br>

            <div class="row">
            <div class="col-12 d-flex justify-content-center">
            <label class="d-block ml-2" style="padding-left: 64px;">TELEFONO</label>            
            <input class="ml-2" type="email" [(ngModel)]="cliente.correo" >
            </div>
            </div>
            <br>

            <div class="row">
            <div class="col-12 d-flex justify-content-center">
            <span class="d-block ml-2" style="padding-left: 58px;">RUT</span>
            <input class="ml-2" type="text" [(ngModel)]="cliente.telefono">
            </div>   
            </div>
            <br>


            <div class="row">
            <div class="col-12 d-flex justify-content-center">
            <span class=" d-block mt-2" style="padding-left: 50px;">DIRECCIÓN</span>
            <input class="ml-2" type="text" [(ngModel)]="cliente.direccion" >
            </div>
            </div>
            <br>



    <div class="sm row p-2 mt-3 d-flex justify-content-center">
        <div>
        <button type="button" class="btn btn-primary ml-2 mr-2" (click)="guardarCliente()"> Ingresar</button>
        <button [routerLink] = "['/busqueda-clientes']" class="btn btn-danger ml-2 mr-2">VOLVER</button> 
                
    </div>       
    </div>
</div> 


       