<!--INGRESO CUERPO-->
<div class="container-fluid col-12">
    <div class="row justify-content-center">
        <h2>MODIFIQUE UNA FRUTA</h2>
    </div>
    <div class="row d-flex justify-content-center">        
        <div class="sm col-3 p-2 mt-3">
            <span class=" d-block ml-2" style="padding-left: 50px;">TIPO FRUTA</span>            
            <input class="ml-2" type="text" [(ngModel)]="fruta1.tipo_fruta" >   
            <button  type="button" class="btn btn-primary ml-2" (click)="updateFruta()" >Ingresar</button> 
            <button [routerLink] = "['/busqueda-fruta']" class="btn btn-danger ml-2 mr-2">VOLVER</button>        
            
        </div>
        
        
