<div class="container-fluid col-12">
    <div class="row">
        <div class="col-5 ml-2 mt-2" style=" border: 1px solid #000000;">
            <h1 class="d-inline text-dark">NUMERO COMPRA : </h1> 
            <h1 class="d-inline text-dark" id="compra">{{compra.idcompra}}</h1>
            <br>
            <h1 class="d-inline text-dark">CORRELATIVO CLIENTE : </h1> 
            <h1 class="d-inline text-dark" id="correlativecliente">{{countProcesCorrelative}}</h1>            
            <br>
            <h1 class="d-inline text-dark">FECHA DE INGRESO : </h1>
            <h2 class="d-inline text-dark" id="fecha"> {{compra.compra_inicio | date: 'dd-MM-yyyy / HH:mm:ss' }}</h2>
            <br>
            <h1 class="d-inline text-dark">CLIENTE :</h1> 
            <h2 class="d-inline text-dark" id="cliente">{{compra.nombre}}</h2>
            <br>
            <h5 class="d-inline text-dark">MONTO NETO:</h5>
            <h5 class="d-inline text-dark" id="montoneto">$ {{ProductosSum() | number: '000.000'}}</h5> 
            <br>
            <h5 class="d-inline text-dark">IVA?: </h5>
            <h5 class="d-inline text-dark" id="iva">{{compra.iva_estado}} ({{compra.iva}})%</h5>
            <br>
            <h5 class="d-inline text-dark">IMPUESTO ADICIONAL:  </h5>
            <h5 class="d-inline text-dark" id="fruta">{{compra.impadicional}}%</h5>
            <br>
            <h5 class="d-inline text-dark">TOTAL:  </h5>
            <h5 class="d-inline text-dark" id="merma">$ {{(((ProductosSum()*compra.iva)/100) + ProductosSum()) + ((compra.impadicional * ProductosSum())/100) | number: '000.000'}}</h5>
            <br>
            <h5 class="d-inline text-dark">CORREO: </h5>
            <h5 class="d-inline text-dark" id="valor">{{compra.correo}}</h5>
            <br>
            <h5 class="d-inline text-dark">DIRECCION:</h5>
            <h5 class="d-inline text-dark" id="valortotal">{{compra.direccion}}</h5>
            <br>
            <h5 class="d-inline text-dark">TELEFONO: </h5>
            <h5 class="d-inline text-dark" id="pago">{{compra.telefono}}</h5>
        </div>
        <div class="col-6 ">
            <div style="    display: inline-block;
            margin: 20px;
            padding: 10px;
            border: 1px solid #000000;
            font-size:20px">
            <button class="btn btn-primary  position-relative mr-2"  (click)=nuevoPDF();>GENERAR DOCUMENTO</button>               
            <button class="btn btn-success  position-relative mr-2"   (click)=nuevoPDF();>COPIA DE CLIENTE</button>               
            <button class="btn btn-warning  position-relative material-icons mr-2" style="color:white" (click)="correlativoFuncion()">refresh</button>
            <button [routerLink] = "['/busqueda-compras']" class="btn btn-danger position-relative">VOLVER</button> 
            </div>
            
        </div>
    </div>
</div>

<div class="container-fluid col-12">
    <div class="row">
        <div class="col-5 p-4 mt-2 table-responsive ">  
                        
            <table class="table" id="entrada">
                <thead class="thead-dark">
                <tr>
                    
                    <th scope="col">PRODUCTO</th>
                    <th scope="col">PRECIO</th> 
                    <th scope="col">CANTIDAD</th>
                    <th scope="col">VALOR TOTAL</th>
                    <th scope="col">BINES</th>
                                           
                </tr>
                </thead>
                <tbody>
                <tr *ngFor ="let p of producto">                    
                    <td>{{p.tipo_fruta}}</td>
                    <td>{{p.precio}}</td>
                    <td>{{p.cantidad | number: '000.000'}}</td> 
                    <td>{{p.valortotal | number: '000.000'}}</td> 
                    <td>{{p.lote_bines}}</td>            
                </tr>                
                    </tbody>
                </table>
                                           
                
            </div>
            <div class="w-25">

            </div>
            
    </div>
</div>
