<div class="container-fluid col-12">
    <div class="row">
        <div class="col-5 ml-2 mt-2" style=" border: 1px solid #000000;">
            <h1 class="d-inline text-dark">NUMERO VENTA : </h1> 
            <h1 class="d-inline text-dark" id="numero_venta">{{venta.idventa}}</h1>           
            <br>
            <h1 class="d-inline text-dark">CORRELATIVO CLIENTE : </h1> 
            <h1 class="d-inline text-dark" id="correlativo_cliente">{{countProcesCorrelative}}</h1>   
            <br>
            <h1 class="d-inline text-dark">FECHA DE INGRESO : </h1>
            <h2 class="d-inline text-dark" id="fecha"> {{venta.venta_creacion | date: 'dd-MM-yyyy / HH:mm:ss' }}</h2>
            <br>
            <h1 class="d-inline text-dark">CLIENTE :</h1> 
            <h2 class="d-inline text-dark" id="cliente">{{venta.nombre}}</h2>             
            <br>
            <h5 class="d-inline text-dark">TOTAL VENTA: </h5>
            <h5 class="d-inline text-dark" id="total_venta">${{ProductosSum() | number:'1.0-0'}}</h5> 
            <br>
            <h5 class="d-inline text-dark">CORREO: </h5>
            <h5 class="d-inline text-dark" id="correo">{{venta.correo}}</h5>                
            <br>
            <h5 class="d-inline text-dark">DIRECCION:</h5>
            <h5 class="d-inline text-dark" id="direccion">{{venta.direccion}}</h5>
            <br>
            <h5 class="d-inline text-dark">TELEFONO: </h5>
            <h5 class="d-inline text-dark" id="telefono">{{venta.telefono}}</h5>
            <br>
            <h5 class="d-inline text-dark">KILOGRAMOS: </h5>
            <h5 class="d-inline text-dark" id="kilogramos">{{KilogramosSum() | number:'1.0-0'}}</h5>
            <br>
            <h5 class="d-inline text-dark">CANTIDAD BINS: </h5>
            <h5 class="d-inline text-dark" id="bins">{{BinsSum() | number:'1.0-0'}}</h5>
        </div>
        <div class="col-6 ">
            <div style="display: inline-block;
            margin: 20px;
            padding: 10px;
            border: 1px solid #000000;
            font-size:20px">
                <button class="btn btn-primary mr-2 position-relative" (click)=nuevoPDF();>GENERAR DOCUMENTO</button>
                <button class="btn btn-success mr-2 position-relative" (click)=nuevoPDF2();>COPIA CLIENTE</button>
                <button [routerLink] = "['/busqueda-ventas']" class="btn btn-danger mr-2">
                    VOLVER
                </button>
                <button class="btn btn-warning  position-relative material-icons mr-2" style="color:white" (click)="correlativoFuncion()">refresh</button>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid col-12">
    <div class="row">
        <div class="col-8 p-4 mt-2 table-responsive ">
            <table class="table" id="entrada">
                <thead class="thead-dark">
                    <tr>  
                        <th scope="col">LOTE</th> 
                        <th scope="col">N°PRODUCTO</th>                                  
                        <th scope="col">PRODUCTO</th>
                        <th scope="col">PRECIO</th>
                        <th scope="col">CALIBRE</th>
                        <th scope="col">BINS</th>
                        <th scope="col">KILOGRAMOS</th> 
                        <th scope="col">TOTAL</th>                                        
                    </tr>
                </thead> 
                <tbody>
                    <tr *ngFor="let pv of prodsxventa">
                        <td>{{pv.idventa}}</td>    
                        <td>{{pv.idproducto}}</td>
                        <td>{{pv.tipo_fruta}}</td>
                        <td>${{pv.precio_prodxventa | number:'1.0-0'}}</td>
                        <td>{{pv.calibre}}</td>
                        <td>{{pv.cantidad_bins | number:'1.0-0'}}</td>
                        <td>{{pv.cantidad_producto | number:'1.0-0'}}</td>
                        <td>${{pv.valortotal_prodxventa | number:'1.0-0'}} </td>                                
                    </tr>
                    <tr class="table-info">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{BinsSum()  | number: '000.000'}}</td>
                        <td><b>{{KilogramosSum() | number: '000.000'}}</b></td>
                        <td><b>{{ProductosSum() | number: '000.000'}}</b></td>
                    </tr>          
                </tbody>                 
            </table>      
        </div>
    </div>
</div>


<table class="table invisible" id="entrada2">
    <thead class="thead-dark">
        <tr>  
            <th scope="col">PRODUCTO</th>
            <th scope="col">PRECIO</th>
            <th scope="col">CALIBRE</th>
            <th scope="col">BINS</th>
            <th scope="col">KILOGRAMOS</th> 
            <th scope="col">TOTAL</th>                                        
        </tr>
    </thead> 
    <tbody>
        <tr *ngFor="let pv of prodsxventa">
            <td>{{pv.tipo_fruta}}</td>
            <td>${{pv.precio_prodxventa | number:'1.0-0'}}</td>
            <td>{{pv.calibre}}</td>
            <td>{{pv.cantidad_bins | number:'1.0-0'}}</td>
            <td>{{pv.cantidad_producto | number:'1.0-0'}}</td>
            <td>${{pv.valortotal_prodxventa | number:'1.0-0'}} </td>                                
        </tr>
        <tr class="table-info">
            <td></td>
            <td></td>
            <td></td>
            <td>{{BinsSum()  | number: '000.000'}}</td>
            <td><b>{{KilogramosSum() | number: '000.000'}}</b></td>
            <td><b>{{ProductosSum() | number: '000.000'}}</b></td>
        </tr>          
    </tbody>                 
</table>      