<div class="container-fluid col-12">
  <h2 class="mt-4 mb-4 d-flex justify-content-center">VENTAS DE PALTA CHILENA</h2>
  <div class="row mt-4 mb-4 d-flex justify-content-center">
      <div class="col-2">
          <h4 class="d-inline" style="color: #000000;">Fecha: </h4>
          <h4 class="d-inline position-relative" style="left: .5%; color: #000000; font-weight: bold;" id="fechaActual">{{fechaActual | date :'dd-MM-yyyy  hh:mm:ss'}}</h4>
      </div>
      <div class="col-2">
          <h4 class="d-inline" style="color: #000000;">Kilogramos Total: </h4>
          <h4 class="d-inline position-relative" style="left: .5%; color: #000000; font-weight: bold;" id="total_kilogramos">{{kilogramosTotalSum() | number:'1.0-0'}}</h4>
      </div>       
      <div class="col-2">
          <h4 class="d-inline" style="color: #000000;">Precio Neto: </h4>
          <h4 class="d-inline position-relative" style="left: .5%; color: #000000; font-weight: bold;" id="precio_neto" >${{precioNetoSum() | number:'1.0-0'}}</h4>
      </div>
      <div class="col-2">
        <h4 class="d-inline" style="color: #000000;">Precio Adicional: </h4>
        <h4 class="d-inline position-relative" style="left: .5%; color: #000000; font-weight: bold;" id="precio_adicional" >${{precioAdicionalSum() | number:'1.0-0'}}</h4>
      </div>
      <div class="col-2">
        <h4 class="d-inline" style="color: #000000;">Precio Total: </h4>
        <h4 class="d-inline position-relative" style="left: .5%; color: #000000; font-weight: bold;" id="neto_adicional" >${{precioNetoSum() + precioAdicionalSum()  | number:'1.0-0'}}</h4>
    </div>
  </div>
</div>


<div class="container-fluid col-12">

  <div class="row">
    <div class="col-2" style="font-size:smaller">

      <div class="" style="font-size:smaller">
        <span class=""><b>BUSCAR ID</b></span>
      </div>
      <div class="" style="font-size:smaller">
        <input   type="text" size="35" name="numero_proceso" style="border: 1px solid #000000;"[(ngModel)] = id_vpc (ngModelChange) = "Search();" >
      </div>

      <div class="" style="font-size:smaller">
        <span class=""><b>BUSCAR CLLIENTE</b></span>
      </div>
      <div class="">
        <input type="text" size="30" name="nombre" style="border: 1px solid #000000;" [(ngModel)] = nombre (ngModelChange) = "SearchByClient();">
      </div>

    </div>

    <div class="col-2" style="font-size:smaller">

      <div style="font-size:smaller">
        <span class=""><b>RANGO DE FECHAS GESTIÓN</b></span>
      </div>
      <div  id="holi">
        <input type="text" style="border: 1px solid #000000; height: 24px;" name="daterange" autocomplete="off" bsDaterangepicker 
        [bsConfig]="{ rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false }"                 
        id="DateOfBirth" placeholder="Rango de Fechas" (bsValueChange)="dateRangeCreated($event)" class="form-control" />
      </div>

      <div class="" style="font-size:smaller">
        <span class=""><b>TIPO DE PAGO</b></span>
      </div>
      <div>
        <select class="form-control" style="border: 1px solid #000000; height: 24px; font-size: 82%" [(ngModel)]=tipo_pago (ngModelChange)="SearchByTipoPago()">
            <option value="">TODOS</option>
            <option *ngFor="let pago of tipo_pago_list">
              {{pago.tipo_pago}}
            </option> 
        </select> 
      </div>
    </div>
    <div class="col-2 mt-4" style="font-size:x-small">
      <button  class="btn btn-primary position-relative"  style="font-size:x-small" (click)="volverBuscar()">VOLVER <br> A <br> BUSCAR</button>
    </div>

    <div class="col-5">
      <div style="    display: inline-block;
      margin: 20px;
      padding: 10px;
      border: 1px solid #000000;
      font-size:20px">
        <button [routerLink] ="['/cpc/ingreso-principal']" type="button" class="btn btn-primary ml-4 material-icons">
        add_circle_outline
        </button>
        <h4 class="d-inline pl-2"><b>Nueva Venta</b> </h4>
        <button [routerLink] = "['/vpc/busqueda']" class="btn btn-success position-relative ml-2" (click)="reporteGeneralPDF()">GENERAR REPORTE</button>
      </div>
    </div>
    
  </div>

  <div class="row mt-2">
      <div class="col-12">
          <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>                    
                  <th scope="col">Id</th>
                  <th scope="col">Cliente</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">Pago</th>
                  <th scope="col">Kilogramos</th>
                  <th scope="col">Neto</th>                                        
                  <th scope="col">Adicional</th>
                  <th scope="col">Total</th>
                  <th scope="col" >Opciones</th>   
                </tr>
              </thead>
              <tbody>
                <tr *ngFor ='let row of getAllSells'>
                  <td><b>{{row.id_vpc}}</b></td>
                  <td><b>{{row.nombre}}</b></td>
                  <td>{{row.fecha_ingreso | date: 'dd-MM-yyyy / HH:mm:ss'}}</td>
                  <td style="color:white; font-weight: bold;" [ngClass]="{'bg-success' : row.tipo_pago == 'EFECTIVO' || row.tipo_pago == 'TRANSFERENCIA' || row.tipo_pago == 'PAGADO',  'bg-danger' : row.tipo_pago == 'CHEQUE' || row.tipo_pago == 'CREDITO'}">{{row.tipo_pago}}</td>                   
                  
                  <td>{{row.total_cantidad | number:'1.0-0'}}</td>   
                  <td><b style="font-size:large;">${{row.precio_productos | number:'1.0-0'}}</b></td>
                  <td><b style="font-size:large;">${{row.costos_adicionales | number:'1.0-0'}}</b></td>
                  
                  
                  <td><b style="font-size:large;">${{ row.precio_productos + row.costos_adicionales | number:'1.0-0'}}</b></td>
                                        
                  <td>  
                                                    
                    <button (click)="menuOpciones(                    
                      row.id_vpc, 
                      row.nombre, 
                      row.fecha_ingreso, 
                      row.tipo_pago, 
                      row.total_cantidad, 
                      row.precio_productos,
                      row.costos_adicionales)"
                      
                      class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">

                        OPCIONES
                    </button>



                    <div class="modal fade "id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="false" >
                      <div class="modal-dialog modal-xl"   role="document">
                        <div class="modal-content modal-xl">
                          <div class="modal-header modal-xl">
                            <h5 class="modal-title" id="exampleModalLabel">VENTA N° {{selectedIdVpc}} <br> VENTA AL CLIENTE N° {{countProcesCorrelative}} </h5>
                            <h5 class="modal-title invisible" id="exampleModalLabel" id="detailSelectedselectedIdVpc">{{countProcesCorrelative}}</h5>
                            
                            <h5 class="modal-title invisible" id="exampleModalLabel" id="detailSelectedselectedIdVpc2">{{selectedIdVpc}}</h5>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body modal-xl">
                            <table class="table" id="entrada">
                              <thead class="thead-dark">
                                <b>Nombre:  </b><b style="margin-left: 120px;" id="detailSelectedselectedNombre">{{selectedNombre}}</b>
                                <br>
                                <b>Fecha de Recepción:  </b><b  style="margin-left: 45px;" id="detailSelectedselectedFechaIngreso">{{selectedFechaIngreso | date :'dd-MM-yyyy  hh:mm:ss'}}</b>
                                <br>
                                <b>Tipo de Pago:  </b><b  style="margin-left: 88px;" id="detailSelectedselectedTipoPago">{{selectedTipoPago}}</b>
                                <br>
                                <b>Kilogramos:  </b><b  style="margin-left: 98px;" id="detailSelectedselectedTotalCantidad">{{selectedTotalCantidad | number: '1.0-0'}}</b>
                                <br>
                                <b>Precio Neto:  </b><b  style="margin-left: 96px;" id="detailSelectedselectedPrecioProductos">${{selectedPrecioProductos | number: '1.0-0'}}</b>
                                <br>  
                                <b>Precio Adicional:  </b><b  style="margin-left: 67px;" id="detailSelectedselectedCostosAdicionales">${{selectedCostosAdicionales | number: '1.0-0'}}</b>
                                <br>
                                <b>Precio Total:  </b><b  style="margin-left: 96px;" id="detailSelectedselectedPrecioProductos2">${{selectedPrecioProductos + selectedCostosAdicionales | number: '1.0-0'}}</b>
                              </thead>
                              <hr>
                              <tbody>
                                <br>
                                <hr>
                                  <div class="row">
                                    <div class="col-8">
                                        <h2 class="d-flex justify-content-center">DATOS VENTA</h2>
                                        <table class="table table-striped table-sm">
                                            <thead class="thead-dark">
                                                <tr>
                                                  <th scope="col">Lote</th>                       
                                                    <th scope="col">Calibre</th>
                                                    <th scope="col">Formato</th> 
                                                    <th scope="col">Cantidad</th>
                                                    <th scope="col">Bins</th>
                                                    <th scope="col">N°Pallet</th>
                                                    <th scope="col">Precio</th>   
                                                    <th scope="col">Precio Total</th>   
                                                </tr>
                                            </thead> 
                                            <tbody>
                                                <tr *ngFor = 'let datosentrada of getSellDetail'>
                                                    <td>{{datosentrada.id_cpc}}</td>
                                                    <td>{{datosentrada.calibre}}</td>
                                                    <td>{{datosentrada.formato}}</td>
                                                    <td>{{datosentrada.cantidad}}</td>
                                                    <td>{{datosentrada.cantidad_bins | number:'1.0-0'}}</td>
                                                    <td>{{datosentrada.pallet | number:'1.0-0'}}</td>
                                                    <td>${{datosentrada.precio | number:'1.0-0'}}</td>
                                                    <td>${{datosentrada.precio_total | number:'1.0-0'}}</td>
                                                </tr>                
                                                <tr class="table-info">
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td><b>{{detalleVentaCantidadSum() | number: '1.0-0'}}</b></td>
                                                    <td><b>{{detalleVentaBinsSum() | number: '1.0-0'}}</b></td>
                                                    <td><b></b></td>
                                                    <td><b></b></td>
                                                    <td><b>${{selectedPrecioProductos | number: '1.0-0'}}</b></td>
                                                </tr>
                                            </tbody>                       
                                        </table> 
                                    </div>
                                    <div class="col-4">
                                        <h2 class="d-flex justify-content-center" >DATOS ADICIONALES</h2>
                                        <table class="table table-striped table-sm" id="datos_salida">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">Descripción</th>                                     
                                                    <th scope="col">Cantidad</th> 
                                                    <th scope="col">Precio</th>
                                                    <th scope="col">Precio Total</th>
                                                </tr>
                                            </thead> 
                                            <tbody>
                                                <tr *ngFor = 'let datossalida of aditionalCost'>
                                                    <td>{{datossalida.descripcion}}</td>
                                                    <td>{{datossalida.cantidad}}</td>
                                                    <td>${{datossalida.precio | number:'1.0-0'}}</td>
                                                    <td>${{datossalida.precio_total | number:'1.0-0'}}</td>
                                                </tr>               
                                                <tr class="table-info">
                                                    <td></td>
                                                    <td><b>{{detalleVentaAdicionalCantidadSum() | number: '1.0-0'}}</b></td>
                                                    <td></td>
                                                    <td><b>${{selectedCostosAdicionales | number: '1.0-0'}}</b></td>
                                                </tr>
                                            </tbody>                       
                                        </table> 
                                    </div>
                                  </div>
                                <br>
                                <hr>
                                <h2 class="d-flex justify-content-center">OPCIONES</h2>
                                <hr>
                                <br>
                                <div class="d-flex justify-content-center">
                                  <br>
                                  <br>
                                  
                                  <a [routerLink] ="['/vpc/ingreso-final/', selectedIdVpc]" class="btn btn-warning" style="height: 120px; width: 120px; color: white;" data-dismiss="modal">
                                    <br>
                                    <br>
                                    MODIFICAR
                                  </a>
                                  
                                  <a  (click)="reporteIndividualPDF()"  class="btn btn-primary ml-2" style="height: 120px; width: 120px;">
                                    <br>
                                    <br>
                                    DOCUMENTO
                                  </a>

                                  
                                  <!--  -->
                                  <!-- (click)="reporteIndividualPDF()" -->
                                  <a (click)="reporteIndividualPDF2()" class="btn btn-success ml-2" style="height: 120px; width: 120px;" >
                                    <br>
                                    <br>
                                    DOCUMENTO CLIENTE
                                  </a>

                                  <a (click)="reporteIndividualPDF3()" class="btn btn-success ml-2" style="height: 120px; width: 120px;" >
                                    DOCUMENTO CLIENTE (SIN COSTO ADICIONAL)
                                    <br>
                                    <br>

                                  </a>
                                  <!--  -->
                                  <!-- (click)="updateStatusBuyDelete(selectIdCpc)" -->
                                  <a  class="btn btn-danger ml-2 material-icons" style="height: 120px; width: 120px;">
                                    <br>
                                    <br>
                                    delete 
                                  </a> 
                                </div>
                              </tbody>
                            </table>
                          </div>
                          <div class="modal-footer modal-xl" >
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                          </div>
                        </div>
                      </div>
                    </div>




















                </td>  
                </tr>                  
              </tbody>
            </table>
      </div>
  </div>
  <div class="invisible">
    <table class="table table-striped table-sm" id="tabla_principal">
      <thead class="thead-dark">
        <tr>                    
          <th scope="col">Id</th>
          <th scope="col">Cliente</th>
          <th scope="col">Fecha</th>
          <th scope="col">Pago</th>
          <th scope="col">Kg</th>
          <th scope="col">Neto</th>                                        
          <th scope="col">Adicional</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor ='let row of getAllSells'>
          <td><b>{{row.id_vpc}}</b></td>
          <td><b>{{row.nombre}}</b></td>
          <td>{{row.fecha_ingreso | date: 'dd-MM-yyyy / HH:mm:ss'}}</td>
          <td>{{row.tipo_pago}}</td>                   
          <td>{{row.total_cantidad | number:'1.0-0'}}</td>   
          <td><b style="font-size:large;">${{row.precio_productos | number:'1.0-0'}}</b></td>
          <td><b style="font-size:large;">${{row.costos_adicionales | number:'1.0-0'}}</b></td>
          <td><b style="font-size:large;">${{ row.precio_productos + row.costos_adicionales | number:'1.0-0'}}</b></td> 
        </tr>
        <tr class="table-info">
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><b>{{kilogramosTotalSum() | number:'1.0-0'}}</b></td>
          <td><b>${{precioNetoSum() | number:'1.0-0'}}</b></td>
          <td><b>${{precioAdicionalSum() | number:'1.0-0'}}</b></td>
          <td><b>${{precioNetoSum() + precioAdicionalSum()  | number:'1.0-0'}}</b></td>
        </tr>                
      </tbody>
    </table>
  </div>
</div>


<div>  
  <div class="ml-5">
      <h5 class="d-inline position-relative" style="left: .5%; visibility: hidden;" id="startDateText">{{startDateText| date :'dd-MM-yyyy'}}</h5>
  </div>
  <div class="ml-5">
      <h5 class="d-inline position-relative"  style="left: .5%; visibility: hidden;" id="endDateText">{{endDateText| date :'dd-MM-yyyy'}}</h5>
  </div>
  <div class="ml-5">
      <h5 class="d-inline position-relative"  style="left: .5%; visibility: hidden;" id="nombre">{{nombre}}</h5>
  </div>
  <div class="ml-5">
    <h5 class="d-inline position-relative"  style="left: .5%; visibility: hidden;" id="nombre">{{tipo_pago}}</h5>
  </div>
  <div class="ml-5">
    <h5 class="d-inline position-relative"  style="left: .5%; visibility: hidden;" id="tipo_pago">{{tipo_pago}}</h5>
  </div>



  <table class="table table-striped table-sm invisible" id="datos_entrada">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Calibre</th>
            <th scope="col">Formato</th> 
            <th scope="col">Cantidad</th>
            <th scope="col">Bins</th>
            <th scope="col">N°Pallet</th>
            <th scope="col">Precio</th>   
            <th scope="col">Precio Total</th>   
        </tr>
    </thead> 
    <tbody>
        <tr *ngFor = 'let datosentrada of getSellDetail'>
            <td>{{datosentrada.calibre}}</td>
            <td>{{datosentrada.formato}}</td>
            <td>{{datosentrada.cantidad}}</td>
            <td>{{datosentrada.cantidad_bins | number:'1.0-0'}}</td>
            <td>{{datosentrada.pallet | number:'1.0-0'}}</td>
            <td>${{datosentrada.precio | number:'1.0-0'}}</td>
            <td>${{datosentrada.precio_total | number:'1.0-0'}}</td>
        </tr>                
        <tr class="table-info">
            <td></td>
            <td></td>
            <td><b>{{detalleVentaCantidadSum() | number: '1.0-0'}}</b></td>
            <td><b>{{detalleVentaBinsSum() | number: '1.0-0'}}</b></td>
            <td><b></b></td>
            <td><b></b></td>
            <td><b>${{selectedPrecioProductos | number: '1.0-0'}}</b></td>
        </tr>
    </tbody>                       
</table> 





</div>
