<!--INGRESO CUERPO-->
<div class="container-fluid col-12">
    <div class="row">        


        <div class="sm col-4 ml-2 mt-2" style=" border: 1px solid #000000;">
            <h1 class="d-inline text-dark">NUMERO DE COMPRA - LOTE: </h1>
            <h1 class="d-inline pl-3 text-dark">{{compraUltima.idcompra}}</h1>
            <br>
            <h5 class="mt-4 d-inline text-dark">Fecha Ingreso : </h5>
            <h5 class="d-inline text-dark" style="margin-left: 50px;">{{compraUltima.compra_inicio | date: 'dd-MM-yyyy / HH:mm:ss '}}</h5>
            <input class="float-right common" type="text" id="tbx1" value="0" style="display: none;" [(ngModel)] = compraUltima.idcompra > 
            <br>
            <h5 class=" d-inline mt-2 text-dark">Cliente: </h5> 
            <h5 class="d-inline text-dark" style="margin-left: 90px;">{{compraUltima.nombre}}</h5>
            <br>
            <h5 class=" d-inline text-dark">Correo: </h5>
            <h5 class="d-inline text-dark">{{compraUltima.correo}}</h5>
            <br>                      
            <h5 class="d-inline text-dark">Teléfono: </h5>
            <h5 class="d-inline text-dark" style="margin-left: 80px;">{{compraUltima.telefono}}</h5>
            <br>
            <h5 class="d-inline text-dark">Dirección: </h5>
            <h5 class="d-inline text-dark" style="margin-left: 78px;">{{compraUltima.direccion}}</h5>
            <br>
            <h5 class="d-inline text-dark">Fecha Factura: </h5>
            <h5 class="d-inline text-dark" style="margin-left: 52px;">{{compraUltima.fecha_factura | date: 'dd-MM-yyyy'}}</h5>
            <br>
            <h5 class="d-inline text-dark">Numero Factura: </h5>
            <h5 class="d-inline text-dark" style="margin-left: 42px;">{{compraUltima.numero_factura}}</h5>
        </div> 
        
        
        <div class="sm col-6 p-4">           
            <br>
            <h5 class="mt-4 d-inline text-dark">MONTO NETO : {{ProductosSum() | number:'1.0-0'}}</h5> 
            <br>
            <h5 class="mt-4 d-inline text-dark">IVA :</h5>
            <select style="border: 1px solid #cdcdcd; width: 10%;" [(ngModel)]="ivaSelected" class="ml-3">
                <option *ngFor="let i of iva" id="fruta" [value]="i">
                    {{i}}
                </option>                             
            </select>            
            <h5 class="d-inline text-dark">%</h5>            
            <br>
            <h5 class="mt-2 d-inline text-dark">IMPUESTO ADICIONAL: </h5> 
            <input type="text" id="impuesto" style="border: 1px solid #cdcdcd; width: 5%;" [(ngModel)] = iAdicional >
            <h5 class="d-inline text-dark">%</h5>
            <br>
            
            <h5 class="d-inline text-dark">TOTAL: </h5>  
            <h5 class="d-inline text-dark" *ngIf="ivaSelected == 19">{{(((ProductosSum()*19)/100) + ProductosSum()) + ((iAdicional * ProductosSum())/100) | number:'1.0-0'}}</h5>
            <h5 class="d-inline text-dark" *ngIf="ivaSelected == 0">{{ProductosSum() + ((iAdicional * ProductosSum())/100) | number:'1.0-0'}}</h5>                 
        </div> 
    </div>
</div> 

<div class="container-fluid col-12">
    <div class="row mt-4">
        <div class="sm col-2">
            <div>
                <span class=" d-block " style="padding-left: 50px;">PRODUCTO</span>
            </div>
            <div>
                <select style="border: 1px solid #cdcdcd;  width: 225px;" [(ngModel)]="frutaSelected">
                    <option *ngFor="let fruta of tipo_fruta" id="fruta" [value]="fruta.idtipo_fruta">
                        {{fruta.tipo_fruta}}
                    </option>                
                </select>                 
            </div>           
        </div>
        <div class="sm col-2">
            <div>
                <span class=" d-block" style="padding-left: 50px;">PRECIO</span>
            </div>
            <div >
                <input style="border: 1px solid #cdcdcd;  width: 225px;" type="text" [(ngModel)]=productos.precio>
            </div>           
            
        </div>
        <div class="sm col-2">
            <div>
                <span class=" d-block" style="padding-left: 50px;">CANTIDAD</span>
            </div>
            <div >
                <input style="border: 1px solid #cdcdcd;  width: 225px;" type="text" [(ngModel)]=productos.cantidad>
            </div>           
            
        </div>
        <div class="sm col-2 ">
            <div>
               <span class="d-block pl-5" style="padding-left: 50px;">BINES</span> 
            </div>
            <div>
                <input style="border: 1px solid #cdcdcd; width: 225px;" type="text" [(ngModel)]=productos.lote_bines> 
                
            
            </div>
            <button type="button" class="btn btn-primary btn-block mt-2" (click)=guardarProducto(compraUltima.idcompra) >Ingresar</button>                

        </div>


        
        
    </div>
</div>
   
<div class="container-fluid col-12">
    <div class="row">
        <div class="col-4 mt-2 table-responsive ">
            <h4 class="d-inline text-dark d-flex justify-content-center">PRODUCTOS</h4>            
            <table class="table">
                <thead class="thead-dark">
                <tr>                                      
                    <th scope="col">PRODUCTO</th>
                    <th scope="col">PRECIO</th>
                    <th scope="col">CANTIDAD</th> 
                    <th scope="col">VALOR TOTAL</th>
                    <th scope="col">BINES</th>                      
                    <th scope="col">Eliminar?</th> 

                </tr>
                </thead> 
                <tbody>
                    <tr *ngFor= "let prod of ProductosObtenidos">
                    <td>{{prod.tipo_fruta}}</td>
                    <td>{{prod.precio}}</td>
                    <td>{{prod.cantidad}} KGs</td>
                    <td>{{prod.valortotal}}</td>                    
                    <td>{{prod.lote_bines}}</td>
                    
                    <td><button class="btn btn-danger ml-2 material-icons" (click) = BorrarProducto(compraUltima.idcompra,prod.idproducto) >
                        delete 
                        </button></td>
                </tr>        
                
                
                </tbody> 
                                     
                </table>         
                
            </div>

            <div class="col-1"></div> 

            
    </div>
</div>

    <div class="container-fluid col-12">
        <div class="row">
            <div class="col-3 mt-5">
                <button [routerLink]="['/busqueda-compras']" class="btn btn-primary mr-4" (click)=guardarImpuesto(compraUltima.idcompra);>GUARDAR</button>
                
            </div>
        </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.0.min.js"
      integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
      crossorigin="anonymous">
    </script>
    <script>
    //Esta es la función que una vez se cargue el documento será gatillada.
    $(function(){
        $("#calibre").val('0')
    });
</script>

    
