<!--INGRESO CUERPO-->
<div class="container-fluid col-12">
    <div class="row">        


        <div class="sm col-6 p-4">
            <h1 class="d-inline">NUMERO DE COMPRA - LOTE: </h1>
            <h1 class="d-inline pl-3" >{{compraUltima.idcompra}}</h1>
            
            <br>
            <h5 class="mt-4 d-inline">FECHA INGRESO : {{compraUltima.compra_inicio | date: 'dd-MM-yyyy / HH:mm:ss '}}</h5> 
             
            <input class="float-right common" type="text" id="tbx1" value="0" style="display: none;" [(ngModel)] = compraUltima.idcompra > 
            <br>
            <h5 class="mt-2">CLIENTE: {{compraUltima.nombre}}</h5> 
            <h5>CORREO: {{compraUltima.correo}}</h5>                       
            <h5>TELEFONO: {{compraUltima.telefono}}</h5> 
            <h5>DIRECCION: {{compraUltima.direccion}}</h5>                    
        </div> 
        
        
        <div class="sm col-6 p-4">           
            <br>
            <h5 class="mt-4 d-inline">MONTO NETO : {{ProductosSum()}}</h5> 
            <br>
            <h5 class="mt-4 d-inline">IVA :</h5>
            <select  [(ngModel)]="ivaSelected" style="width: 10%;" class="ml-3">
                <option *ngFor="let i of iva" id="fruta" [value]="i">
                    {{i}}
                </option>                             
            </select>            
            <h5 class="d-inline">%</h5>            
            <br>
            <h5 class="mt-2 d-inline">IMPUESTO ADICIONAL: </h5> 
            <input type="text" id="impuesto" style="width: 8%;" [(ngModel)] = iAdicional >
            <h5 class="d-inline">%</h5>
            <br>
            
            <h5 class="d-inline">TOTAL: </h5>  
            <h5 class="d-inline" *ngIf="ivaSelected == 19">{{(((ProductosSum()*19)/100) + ProductosSum()) + ((iAdicional * ProductosSum())/100) }}</h5>
            <h5 class="d-inline" *ngIf="ivaSelected == 0">{{ProductosSum() + ((iAdicional * ProductosSum())/100)}}</h5>
                                
                                
        </div> 
        
    
    </div>
</div> 

<div class="container-fluid col-12">
    <div class="row">
        <div class="sm col-2">
            <div>
                <span class=" d-block" style="padding-left: 43px;">PRODUCTO</span>
            </div>
            <div class="ml-4">
                <select  [(ngModel)]="frutaSelected">
                    <option *ngFor="let fruta of tipo_fruta" id="fruta" [value]="fruta.idtipo_fruta">
                        {{fruta.tipo_fruta}}
                    </option>                
                </select>                 
            </div>           
            
        </div>
        <div class="sm col-2">
            <div>
                <span class=" d-block" style="padding-left: 50px;">PRECIO</span>
            </div>
            <div >
                <input type="text" [(ngModel)]=productos.precio>
            </div>           
            
        </div>
        <div class="sm col-2">
            <div>
                <span class=" d-block" style="padding-left: 50px;">CANTIDAD</span>
            </div>
            <div >
                <input type="text" [(ngModel)]=productos.cantidad>
            </div>           
            
        </div>
        <div class="sm col-2 ">
            <div>
               <span class="d-block pl-5" >BINES</span> 
            </div>
            <div>
                <input type="text" [(ngModel)]=productos.lote_bines> 
                
            
                <button type="button" class="btn btn-primary ml-2" (click)=guardarProducto(compraUltima.idcompra) >Ingresar</button>                
            </div>
               
        </div>


        
        
    </div>
</div>
   
<div class="container-fluid col-12">
    <div class="row">
        <div class="col-4 p-4 mt-2 table-responsive ">
            <h5 class="d-inline">PRODUCTOS</h5>            
            <table class="table">
                <thead class="thead-dark">
                <tr>                                      
                    <th scope="col">PRODUCTO</th>
                    <th scope="col">PRECIO</th>
                    <th scope="col">CANTIDAD</th> 
                    <th scope="col">VALOR TOTAL</th>
                    <th scope="col">BINES</th>                      
                    <th scope="col">Eliminar?</th> 

                </tr>
                </thead> 
                <tbody>
                    <tr *ngFor= "let prod of ProductosObtenidos">
                    <td>{{prod.tipo_fruta}}</td>
                    <td>{{prod.precio}}</td>
                    <td>{{prod.cantidad}} KGs</td>
                    <td>{{prod.valortotal}}</td>                    
                    <td>{{prod.lote_bines}}</td>
                    
                    <td><button class="btn btn-danger ml-2 material-icons" (click) = BorrarProducto(compraUltima.idcompra,prod.idproducto) >
                        delete 
                        </button></td>
                </tr>        
                
                
                </tbody> 
                                     
                </table>         
                
            </div>

            <div class="col-1"></div> 

            
    </div>
</div>

    <div class="container-fluid col-12">
        <div class="row">
            <div class="col-3 mt-5">
                <button [routerLink]="['/busqueda-compras']" class="btn btn-primary mr-4" (click)=guardarImpuesto(compraUltima.idcompra);>GUARDAR</button>
                
            </div>
        </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.0.min.js"
      integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I="
      crossorigin="anonymous">
    </script>
    <script>
    //Esta es la función que una vez se cargue el documento será gatillada.
    $(function(){
        $("#calibre").val('0')
    });
</script>

    
