<!--NAVBAR-->
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <a class="navbar-brand" href=""></a>
        <img src="" alt="">

        <button class="navbar-toggler" 
        type="button" 
        data-toggle="collapse" 
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"            
        aria-label="Toggle navitagion">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav float-left">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/busqueda">Ver Servicios Calibrado/Desverdizado</a>
                      <a class="dropdown-item" routerLink="/camaras/ver-proceso-camaras">Ver Servicios Cámaras</a>
                      <a class="dropdown-item" routerLink="/servicio-gruas/ver">Ver Servicio Grúas</a>
                      <a class="dropdown-item" routerLink="/arriendo-bins/ver">Ver Servicio Arriendo Bins</a>
                      <a class="dropdown-item" routerLink="/servicio-camiones/ver">Ver Servicio Camiones</a>
                      <a class="dropdown-item" routerLink="/ingreso">Nuevo Servicio Calibrado/Desverdizado</a>
                      <a class="dropdown-item" routerLink="/camaras/ingreso">Nuevo Servicio de Cámaras</a>
                      <a class="dropdown-item" routerLink="/servicio-gruas/ingreso">Nuevo Servicio de Gruas</a>
                      <a class="dropdown-item" routerLink="/arriendo-bins/ingreso">Nuevo Arriendo de Bins</a>
                      <a class="dropdown-item" routerLink="/servicio-camiones/ingreso">Nuevo Servicio Camiones</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Compras
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/busqueda-compras">Ver Compras</a>
                    <a class="dropdown-item" routerLink="/ingreso-compra">Nueva Compra</a>                      
                    
                  </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Ventas
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="/busqueda-ventas">Ver Ventas</a>
                  <a class="dropdown-item" routerLink="/ingreso-venta">Nueva Venta</a>                      
                  
                </div>
              </li>
              <div class="verticalLine">
                
              </div>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Clientes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/busqueda-clientes" >Ver Clientes</a>
                      <a class="dropdown-item" routerLink="/ingreso-clientes">Nuevo Cliente</a>                   
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Fruta
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/busqueda-fruta">Ver Fruta</a>
                      <a class="dropdown-item" routerLink="/ingreso-fruta">Nueva Fruta</a>                   
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Pago
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/busqueda-pago">Ver Pago</a>
                      <a class="dropdown-item" routerLink="/ingreso-pago">Nuevo Pago</a>                   
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Calibre
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" routerLink="/busqueda-calibre">Ver Calibre</a>
                      <a class="dropdown-item" routerLink="/ingreso-calibre">Nuevo Calibre</a>                   
                    </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Pagos de Servicios
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLink="/pago_servicios">Calibrado/Desverdizado </a>
                    <a class="dropdown-item" routerLink="/pago_servicios_camaras">Cámaras</a>
                    <a class="dropdown-item" routerLink="/pago_servicios_gruas">Gruas</a>
                    <a class="dropdown-item" routerLink="/pago_servicios_bins">Arriendo Bins</a>
                    <a class="dropdown-item" routerLink="/pago_servicios_camiones">Camiones</a>

                  </div>
              </li>
                
                <li class="nav-item"><a class="nav-link text-warning " routerLink="/productos">Productos</a></li>
                <li class="nav-item"><a class="nav-link text-danger" routerLink="/eliminados">Registros Borrados</a></li>
                
            </ul>
        </div>      
    
</nav>

