<div class="container-fluid col-12">
    <div class="row justify-content-center">
        <h1>SELECCIONE CLIENTE PARA REALIZAR LA COMPRA</h1>
    </div>
    <div class="row d-flex justify-content-center" style="margin-left: 128px;"> 
        <h5  class="text-dark "><b>1)</b></h5>        
        <h5  class="text-dark ml-2">Nombre Cliente </h5>        
        <div>
            <select style="border: 1px solid #cdcdcd; width: auto; margin-left: 50px;" [(ngModel)]="clienteSelected">
                <option *ngFor="let cliente of clientes | orderBy:'nombre'" id="cliente" [value]="cliente.id_cliente">
                    {{cliente.nombre}}
                </option>                
            </select>  
        </div>
    </div>
    <br>
    <div class="row d-flex justify-content-center">
        <h5  class="text-dark "><b>2)</b></h5>        
        <h5  class="text-dark ml-2">Fecha de Factura: </h5> 
        <div>
            <div class="input-group date " style="margin-left: 40px;" data-provide="datepicker">
                <input type="date" class="form-control" [(ngModel)] = compra.fecha_factura>
            </div>
        </div>
    </div>
    <br>
    <div class="row d-flex justify-content-center" style="margin-right: 8px;">
        <h5  class="text-dark "><b>3)</b></h5>        
        <h5  class="text-dark ml-2">Numero de Factura: </h5>             
        <input type="text" style="border: 1px solid #cdcdcd; margin-left: 30px;" [(ngModel)] = compra.numero_factura>
    </div>
    <br>


    <div class="row d-flex justify-content-center" style="margin-right:1px;">
        <h5  class="text-dark "><b>4)</b></h5>        
        <h5  class="text-dark ml-2">Tipo Pago: </h5>             
            <select style="border: 1px solid #cdcdcd; width: auto; margin-left: 75px;" [(ngModel)]="compra.tipo_pago">
            <option *ngFor="let pago of tipo_pago" id="pago" [value]="pago.idtipo_pago">
                {{pago.tipo_pago}}
            </option>                
            </select>
    </div>


    <br>
    <div class="sm row p-1 mt-3 d-flex justify-content-center">
        <div>
            <button type="button" class="btn btn-primary ml-2 mr-2" (click)="guardarCompra()"> Ingresar</button>                
        </div>      
        <div>
            <button type="button" class="btn btn-primary ml-2 mr-2" [routerLink] = "['/ingreso-compra',compraUltima.idcompra,'final']" >Continuar Compra</button>
        </div>   
        <div>
            <button [routerLink] = "['/busqueda-compras']" class="btn btn-danger ml-2 mr-2">VOLVER</button>
        </div>   
    </div>   
</div>
